{% extends 'profiles/base.html' %}
{% load staticfiles %}

{% block title %}
Tweet something!
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
	{% for profile in profiles %}
		<div>
			<a href="{% url 'profile_view' slug=profile.slug%}">VIEW</a>
			<a href="{% url 'profile_update' slug=profile.slug%}">UPDATE</a>
			<a href="{% url 'profile_update_form' slug=profile.slug%}">UPDATE_FORM</a>
			{{ profile.first_name }}
			{{ profile.last_name }}
			<img src="{{ profile.get_image_url }}">

			{% for tag in profile.tags.all %}
			<div class="badge">{{ tag }}</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}