{% load staticfiles %}
<!DOCTYPE html>

<html>


	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
		<!--
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		-->
		{% block styles %}
		{% endblock %}
	</head>


	<body>
		<div class="container-fluid">
			{% if user.is_authenticated %}
    			<p>
    				Welcome, {{ user.get_username }}. Thanks for 
    				<a href="{% url 'login' %}">logging in</a>.
    			</p>
			{% else %}
    			<p>Welcome, new user. Please log in.</p>
			{% endif %}

			{% block content %}
			{% endblock %}
		</div>

		{% block scripts %}
    	{% endblock %}
	</body>


</html>