{% extends 'profiles/base.html' %}
{% load staticfiles %}

{% block title %}
Detail view
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
	<div>
		<p>Name: {{ profile.first_name }} {{ profile.last_name }}</p>
		<p>Location: {{ profile.location }}</p>
		<p>
			
				{{ profile.spotlight }}

		</p>
		<p>Website: {{ profile.website }}</p>
		<img src="{{ profile.get_image_url }}">
		{% for tag in profile.tags.all %}
            <a href="{% url 'all' %}?{{tag}}">
			     <div class="badge">{{ tag }}</div>
            </a>
		{% endfor %}
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}