{% extends 'profiles/base.html' %}
{% load staticfiles %}

{% block title %}
Detail view
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
	<div>
		<p>Name: {{ profile.first_name }} {{ profile.last_name }}</p>
		<p>Location: {{ profile.location }}</p>
		<p>Spotlight: {{ profile.spotlight }}</p>
		<img src="{{ profile.get_image_url }}">
		{% for tag in profile.tags.all %}
			<div class="badge">{{ tag }}</div>
		{% endfor %}
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}